[submodule "Ansible/roles/kubectl"]
	path = Ansible/roles/andrewrothstein.kubectl
	url = https://github.com/andrewrothstein/ansible-kubectl.git
[submodule "Ansible/roles/docker"]
	path = Ansible/roles/nickjj.docker
	url = https://github.com/nickjj/ansible-docker.git
[submodule "Ansible/roles/minikube"]
	path = Ansible/roles/andrewrothstein.minikube
	url = https://github.com/andrewrothstein/ansible-minikube.git
