[submodule "Ansible/roles/kubectl"]
	path = Ansible/roles/andrewrothstein.kubectl
	url = https://github.com/andrewrothstein/ansible-kubectl.git
[submodule "Ansible/roles/docker"]
	path = Ansible/roles/nickjj.docker
	url = https://github.com/nickjj/ansible-docker.git
[submodule "Ansible/roles/minikube"]
	path = Ansible/roles/andrewrothstein.minikube
	url = https://github.com/andrewrothstein/ansible-minikube.git
[submodule "Ansible/roles/geerlingguy.java"]
	path = Ansible/roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "Ansible/andrewrothstein.skaffold"]
	path = Ansible/andrewrothstein.skaffold
	url = https://github.com/andrewrothstein/ansible-skaffold.git
[submodule "workspace-setup"]
	path = workspace-setup
	url = https://github.com/FerasMaali/workspace-setup.git
